<ul>
  <li><a href="single-responsibility-problem">single-responsibility-problem</a></li>
  <li><a href="single-responsibility-solution">single-responsibility-solution</a></li>
  <li><a href="open-close-problem">open-close-problem</a></li>
  <li><a href="open-close-solution">open-close-solution</a></li>
  <li><a href="liskov-substitution-problem">liskov-substitution-problem</a></li>
  <li><a href="liskov-substitution-solution">liskov-substitution-solution</a></li>
  <li><a href="interface-segregation-problem">interface-segregation-problem</a></li>
  <li><a href="interface-segregation-solution">interface-segregation-solution</a></li>
  <li><a href="dependency-inversion-problem">dependency-inversion-problem</a></li>
  <li><a href="dependency-inversion-solution">dependency-inversion-solution</a></li>
  <li><a href="app-full-solution">app-full-solution</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
