<app-header title="Interface Segregation Solution"></app-header>
<div class="main">
  <h1>main</h1>
  <div class="container">
    <div>
      <app-interface-product-item-solution
        (itemDeleted)="onDeleted($event)"
      ></app-interface-product-item-solution>
    </div>
    <div>
      <app-interface-product-list-solution
        (itemDeleted)="onDeleted($event)"
      ></app-interface-product-list-solution>
    </div>
  </div>
</div>
<app-footer (productCreated)="onProductAdded($event)"></app-footer>
