<div class="header">
  <div class="container">
    <h1>Single Responsibility Problem</h1>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="col" *ngFor="let p of products; index as i">
      <div>{{ p.Name }}</div>
      <div>Price: {{ p.Price }}</div>
      <button class="btn btn-primary" (click)="delete(i)">Delete</button>
      <br />
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <h3>New Product:</h3>
      <form #loginForm="ngForm" (ngSubmit)="add(loginForm.value)">
        <div class="mb-3">
          <input name="name" ngModel placeholder="Name" id="name" type="text" />
        </div>
        <div class="mb-3">
          <input
            name="price"
            ngModel
            placeholder="Price"
            id="price"
            type="text"
          />
        </div>
        <button>Add</button>
      </form>
    </div>
  </div>
</div>
