/* You can add global styles to this file, and also import other style files */
.header{
  border-bottom-style: dashed;
}

.main{
  border-bottom-style: dashed;
}
.footer{
  border-bottom-style: dashed;
}
